[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
rope = "*"
autopep8 = "*"

[packages]
flask = "*"
numpy = "*"
tensorflow = "==1.13.2"
resampy = "*"
soundfile = "*"
pafy = "*"
youtube-dl = "*"
joblib = "*"
scikit-learn = "==0.20.1"
flask-cors = "*"

[requires]
python_version = "3.7"

[scripts]
serve = "flask run --host=0.0.0.0"
test = "python -m pytest tests "
test-watch = "watch --color pipenv run test --color=yes"
test-ci = "python -m pytest tests --cov=service -v"
